# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
coverage/
*.iml

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/.dart_tool/
web/build/

# macOS
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
windows/Flutter/GeneratedPluginRegistrant.*

# Linux
linux/Flutter/GeneratedPluginRegistrant.*

# Misc
.idea/
.vscode/
*.log
*.lock
*.tmp
.DS_Store